* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
    display: grid;
    grid-template-columns: auto 1fr auto;
    min-height: 100vh;
}

/* header */
.page-header {
    display: grid;
    grid-template-columns: auto 1fr;

    align-items: center;
    gap: 1rem;
    padding: 1rem;

    border-bottom: 1px solid #ccc;
}

.logo {

    width: 4rem;
    height: auto;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;

    color: Tomato;
}

.main-nav .menu {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    margin-top: 1rem;

    list-style: none;
}

.main-nav .menu a {
    text-decoration: none;

    color: Coral;
    font-weight: bold;
}

/* Main */
.page-content {
    padding: 2rem 1rem;
}

.page-content h2{
    font-size: 1.5rem;
    text-align: center;

    margin-bottom: 1rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.card {
    display: grid;

    background-color: #fff;

    grid-template-columns: auto auto 1fr auto;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: cornflowerblue;
}

.card p {
    margin: 1rem 0;
    font-size: 1rem;
}

.read-more {
    justify-self: start;
    padding: 0.5rem 1rem;

    background-color: antiquewhite;
    text-decoration: none;
    font-weight: bold;

    border-radius: 0.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */
.page-footer {
    background-color: #333;
    color: #fff;

    padding: 1.5rem 1rem;
}

.footer-nav {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;

    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
}

/* change to desktop view */
@media (min-width: 50rem) {
    .main-nav .menu {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .cards-grid {
        grid-template-columns: repeat(12, 1fr);
    }

    .card {
        grid-column: span 4;
    }

    .footer-nav {
        grid-template-columns: repeat(12, 1fr);
    }

    .footer-nav a {
        grid-column: span 4;
    }
}